<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299785692288-04muhf067bhp7lgp9h6mm3adfq5i8hrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299785692288-04muhf067bhp7lgp9h6mm3adfq5i8hrc</string>
	<key>API_KEY</key>
	<string>AIzaSyDX6zyPTrBLivEtrZkpwxeCgW_FlsNrT1M</string>
	<key>GCM_SENDER_ID</key>
	<string>299785692288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutterChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-flutter-fe02d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-flutter-fe02d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299785692288:ios:63d5b34f32e855ec2e3265</string>
</dict>
</plist>